doctype html 
//-79 tutorial 2
html
  head
    title This is my Dance Website.
    block scripts
    block style
    
  body
    nav#navbar
            ul
                img(src="../static/img/card2.png")
                |   HDA
                li
                     a(href="/") Home
                li 
                     a(href="/about") About
                li 
                    a(href="/services") Services
                li 
                    a(href="/classInfo") Class Info
                li 
                    a(href="/contactUs") Contact Us
    block content
    footer#footer
        |    Copyright © 2020 HemantDanceAcademy.com | All rights reserved!